[submodule "lib/HKDIMU"]
	path = lib/HKDIMU
	url = https://github.com/hkdLibs/HKD_IMU.git
[submodule "lib/HKDKalmanFilter"]
	path = lib/HKDKalmanFilter
	url = https://github.com/hkdLibs/HKD_KalmanFilter.git
